.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    /*cursor: pointer;*/
    font-size: 10px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(169, 84, 209);
}
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: rgb(161, 133, 154);
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/